<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chat Test</title>
</head>
<body>
<ul>
  <li><a href="/chat">채팅 테스트 페이지</a></li>
  <li><a href="/redis">레디스 테스트 페이지</a></li>
  <form action="/user/status/" name="body" method="post">
    <fieldset>
      <legend>데이터 입력 필드</legend>
      <div class="input_panel">
        <label for="id">아이디 입력</label>
        <input id="id" name="id" type="text" value="GH0010"/>
      </div>
      <button type="submit">입력</button>
    </fieldset>
  </form>
</ul>
</body>
</html>
