<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chat Test</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
  <script>
    $(document).ready(() => {
      const socket = io.connect();

      socket.emit('join', 'Lobby');
      const $roomName = $('#RoomName');
      $roomName.val('Lobby');
      $('btnEnter').click(() => {
        $roomName.val() === '' && $roomName.val('Lobby');
        socket.emit('join', $roomName.val());
      });

      socket.on('message', result => {
        const output = '<p>' + '[' + result.date + ']<strong>' + result.userName + '</strong>: ' + result.userMessage + '</p>';
        $(output).appendTo('#chatContent');
      });

      $('#btnSend').on('click', () => {
        const $userMessage = $('#UserMessage');
        if ($userMessage.val() !== '') {
          socket.emit('message', {
            userName : $('#userName').val(),
            userMessage: $('#userMessage').val(),
            date : new Date().toUTCString()
          })
        }
        $userMessage.val('');
      });
    });
  </script>
</head>
<body>
  <h1>Socket Chat Test Page</h1>
  <label for="RoomName">방 이름</label>
  <input id="RoomName"/>
  <ul id="chatContent"></ul>
  <button id="btnEnter">입장</button>
  <button id="btnQuit">나가기</button>
  <hr>
  <label for="userName">닉네임:</label>
  <input id="userName"/>
  <label for="userMessage">메시지: </label>
  <input id="userMessage"/>
  <button id="btnSend">Send</button>
</body>
</html>
