<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chat Test</title>
  <script src="//code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
  <script>
    $(document).ready(() => {

    });
  </script>
</head>
<h1>Redis [POST / GET] TEST PAGE</h1>
<form action="/user/status" method="post">
  <label for="name">사용자 정보 입력</label>
  <input id="name" type="text"/>
  <button type="submit">입력</button>
</form>
</html>
